@import "../assets/mixin.scss";

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  max-width: 1280px;
  margin: 0 auto;

  padding: 0 16px;

  margin-bottom: 100px;

  @include responsive(tablet) {
    width: auto;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .left-block {
    width: 613px;

    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;

      width: auto;
    }

    @include responsive(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
    .name-section {
      display: flex;
      align-items: center;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #ffb577;

      .line {
        width: 48px;
        border-top: 1px solid #fff;

        margin-left: 16px;
      }
    }

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;

      width: 613px;

      @include responsive(tablet) {
        font-size: 30px;
        line-height: 38px;
        
        text-align: center;

        width: auto;
      }
    }

    .subtitle {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;

      width: 624px;

      color: #b8b8b8;

      text-align: center;

      @include responsive(tablet) {
        margin-bottom: 20px;

        width: auto;
      }
    }
  }
  .cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0;

    @include responsive(tablet) {
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      
    }

    @include responsive(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      
    }

    &-information {
      width: 187px;
    }

    .card:not(:nth-child(3)) {
      margin-right: 32px;

      @include responsive(tablet) {
        margin-right: 0;
        
      }
    }
  }

  .card-title {
    margin-left: 7px;

    color: #c4e4ea;
  }
  .card-subtitle {
    color: #b8b8b8;
  }
  .card-text {
    color: #b8b8b8;
  }

  &__btn {
    margin-top: 32px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #2e2d33;
    background: #ffb577;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 54px;

    cursor: pointer;

    border: none;

    @include responsive(tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 164px;
      height: 48px;

      svg {
        display: none;
      }
    }
  }
  .about-img__left {
    margin-left: 102px;

    @include responsive(desktop) {
      display: none;
    }
  }
  .about-img__right {
    margin-left: 40px;
    margin-bottom: 247px;

    @include responsive(desktop) {
      display: none;
    }
  }
}
