@import "./mixin.scss";

.footer {
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  max-width: 100%;
  width: 1280px;

  margin-bottom: 24px;

  ;

  overflow: hidden;

  &-logo {
    margin-top: 160px;
    margin-bottom: 44px;
  }

  &-list {
    display: flex;

    padding: 0;
    margin: 0;

    list-style-type: none;

    @include responsive(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__item {
      color: #fff;

      text-decoration: none;

      margin-right: 40px;

      @include responsive(phone) {
        margin-right: 0px;

        margin-bottom: 10px;
      }
    }
  }

  .line {
    margin-top: 32px;
    margin-bottom: 24px;

    width: 1600px;

    opacity: 0.07;
    border: 1px solid #ffffff;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @include responsive(phone) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin-right: 0px;

      margin-bottom: 10px;
    }

    &__list {
      display: flex;

      list-style-type: none;

      padding: 0;
      margin: 0;
    }

    &__item {
      margin-right: 24px;
    }

    &__text {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #b8b8b8;
    }
    &__link {
      text-decoration: none;

      color: #fff;
    }
  }
}
