@import "./mixin.scss";
.header {
  margin-top: 28px;

  display: flex;

  max-width: 100%;
  width: 1280px;
  margin: 0 auto;

  margin-bottom: 50px;

  .container {
    
    @include responsive(desktop) {
      padding: 0 16px;
    }
  }

  @include responsive(tablet) {
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(tablet) {
      display: none;
    }

    &-link {
      text-decoration: none;
      color: #fff;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    &-link:nth-child(1) {
      margin-left: 50px;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .block-link {
    display: flex;
    align-items: center;
    .link {
      text-decoration: none;
      color: #ffc492;
      margin-right: 12px;
    }
  }
}
