@import "./mixin.scss";

.review {
  padding: 0 16px;

  margin: 0 auto;
  max-width: 100%;
  width: 1280px;
  .container {
    .right-block {
      margin-left: 78px;

      &__img {
        width: 925px;
        height: 668px;
        @media screen and (max-width: 1550px) {
          width: auto;
          height: auto;
        }
        img {
          max-width: 100%;
          max-height: 100%;
        }
        @include responsive(tablet) {
          display: none;
        }
      }
    }
  }
  display: flex;

  margin-top: 120px;

  color: #fff;
  background: #1f1d21;

  margin-top: 160px;

  .left-block {
    &__title {
      font-size: 72px;
      line-height: 92px;

      @include responsive(tablet) {
        font-size: 40px;
        line-height: 40px;
      }
    }
    &__text {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;

      width: 436px;

      @include responsive(tablet) {
        font-size: 28px;
        line-height: 36px;
      }
      @include responsive(phone) {
        width: auto;
      }
    }

    .person {
      display: flex;
      justify-content: space-between;

      position: relative;

      &-name {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        .line {
          display: flex;
          justify-content: space-between;

          margin-bottom: 84px;

          @include responsive(phone) {
            display: none;
          }

          .line-black {
            width: 437px;

            border: 1px solid #ffffff;

            opacity: 0.24;
          }
          .line-white {
            width: 49px;

            border: 2px solid #ffffff;
          }
        }
      }
      &-img {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;

        margin-top: 24px;
        position: absolute;
        right: 0%;

        margin-left: 79px;
      }
    }
  }
}
