@import "./mixin.scss";
.product {
  color: #fff;

  max-width: 1281px;
  margin: 0 auto;

  padding: 0 16px;

  margin-bottom: 80px;

  &-title {
    display: flex;
    align-items: center;

    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    margin-bottom: 24px;

    color: #ffb577;

    .line {
      width: 48px;
      border-top: 1px solid #fff;

      margin-left: 16px;
    }
  }
  &-subtitle {
    display: flex;
    align-items: center;

    margin-bottom: 50px;

    @include responsive(desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;
    }

    &__left {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;

      color: #ffffff;

      opacity: 0.87;

      margin-right: 58px;

      width: 660px;

      @include responsive(desktop) {
        font-size: 40px;

        width: auto;
      }

      @include responsive(tablet) {
        font-size: 28px;
      }

      @include responsive(phone) {
        margin-right: 0;
      }
    }

    &__right {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;

      color: #b8b8b8;

      width: 549px;

      @include responsive(desktop) {
        text-align: center;
        width: 600px;

        font-size: 15px;
      }
      @include responsive(phone) {
        width: auto;
      }
    }
  }
  &-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;

    margin: 0;
    padding: 0;

    background: rgba(0, 0, 0, 0.16);

    @include responsive(desktop) {
      display: flex;
      justify-content: center;
    }

    &::before,
    &::after {
      content: "";
      height: 100%;
      width: 1px;

      position: absolute;
      background: #232025;
    }
    &::after {
      right: 36%;
      @include responsive(desktop) {
        display: none;
      }
    }
    &::before {
      left: 32%;
      @include responsive(desktop) {
        display: none;
      }
    }
  }

  .product-card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 64px 64px;
    width: 299px;

    @include responsive(tablet) {
      padding: 24px ;
    }

    position: relative;

    &__title {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;

      margin-top: 24px;
      margin-bottom: 12px;
    }
    &__subtitle {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;

      color: #b8b8b8;
    }
  }
}
